body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.purple {
  color: #710471cf;
}
.bg-purple {
  background: #710471cf;
}
form {
  background: #4f24a5;

  margin-top: 13%;
}

.userProfile {
  background: #4f24a5;
  min-height: 100vh;
}
.d_style {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
/* .app-bg {
  background-image: url("/images/mm-background-2.png");
}
 */
@media (min-width: 700px) {
  .home {
    margin-right: inherit;
  }
  .home h1 {
    font-size: 50px;
  }
  .home p {
    font-size: 26px;
  }
  form {
    width: 60% !important;
  }
}
